

<h2>Profile</h2>

<form method="post" asp-action="SenderEmail">

   
    <div class="form-group my-3 d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">
            Sender
        </button>
    </div>
</form>